# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
pubspec.lock

# Android signing & local SDK paths
android/key.properties
android/local.properties
android/app/release.keystore
android/app/release-input.keystore
**/*.jks
**/*.keystore

# IDE / OS
.idea/
.vscode/
*.iml
.DS_Store

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
ios/Runner/GeneratedPluginRegistrant.*

# Coverage
coverage/

# Env
.env
.env.*
